{
  "env": {
    "pre-node5": {
      "presets": ["es2015-node4"],
      "plugins": [
        ["transform-runtime", { "polyfill": true, "regenerator": false }]
      ]
    }
  },
  "presets": ["node5", "react", "stage-0"],
  "plugins": [
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ]
}
