{
  "only": ["*.js"],
  "env": {
    "pre-node5": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4"
            },
            "modules": false,
            "loose": true,
            "exclude": ["transform-regenerator"]
          }
        ],
        "@babel/preset-flow"
      ],
      "plugins": [
        ["array-includes"],
        ["transform-inline-imports-commonjs"],
        ["transform-runtime", { "polyfill": true, "regenerator": false }]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": false,
            "loose": true
          }
        ],
        "@babel/preset-flow"
      ],
      "plugins": [["transform-inline-imports-commonjs"]]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "6"
        },
        "modules": false,
        "loose": true
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["babel-plugin-inline-import", { "extensions": [".tpl.js"] }],
    ["transform-inline-imports-commonjs"],
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ]
}
