{
  "extends": "eslint-config-kittens",
  "env": {
    "jest": true
  },
  "plugins": ["flowtype"],
  "rules": {
    "flowtype/require-valid-file-annotation": [2, "always"],
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/require-return-type": [
      2,
      "always",
      {
        "excludeArrowFunctions": "expressionsOnly"
      }
    ]
  }
}
