/lib
/lib-legacy
.DS_Store
/node_modules
*.log
/.nyc_output
/coverage
/__tests__/fixtures/**/.kpm
/__tests__/fixtures/**/node_modules
/dist
/updates
/.roadrunner.json
/resources/winsetup/generated.wxs
/resources/winsetup/obj
/resources/winsetup/bin
.vs
*.msi
