/lib
/lib-legacy
.DS_Store
/node_modules
*.log
/.nyc_output
/coverage
/__tests__/fixtures/**/_*
/dist
/artifacts
/updates
/.roadrunner.json
/resources/winsetup/generated.wxs
/resources/winsetup/obj
/resources/winsetup/bin
/resources/win-chocolatey/tools/chocolateyinstall.ps1
.vs
*.msi
*.nupkg
fbkpm_modules
test/fixtures/**/.fbkpm
/tmp/

# IDE
.idea/
