/node_modules
/src
/gulpfile.js
/.eslintrc
/.editorconfig
/.babelrc
/.travis.yml
/.eslintignore
/.flowconfig
/.gitattributes
/.github/
/.npmignore
/appveyor.yml
/artifacts/
/circle.yml
/CONTRIBUTING.md
/CODE_OF_CONDUCT.md
/flow-typed/
/RELEASING.md
/Makefile
/tmp/
/.nyc_output
/resources
/scripts
/coverage
/dist
/dist-debug
/__tests__
.vs
*.msi
*.nupkg
Dockerfile
end_to_end_tests
