---
git:
  depth: 10
language: generic

sudo: false

addons:
  apt:
    packages:
      - git

branches:
  only:
  - master
  - /^.*-stable$/

cache:
  directories:
  - node_modules
  - lib
  - lib-legacy

env:
  matrix:
  - TEST_TYPE="build-dist"
  - TEST_TYPE="check-lockfile"
  - TEST_TYPE="lint"
  - NODE_VERSION="6" TEST_TYPE="test-ci"
  - NODE_VERSION="4" TEST_TYPE="test-ci"

matrix:
  exclude:
    - env: TEST_TYPE="build-dist"
      os: osx
    - env: TEST_TYPE="check-lockfile"
      os: osx
    - env: TEST_TYPE="lint"
      os: osx

install:
 # install proper node version
 - nvm install ${NODE_VERSION:=6}
 - node --version
 - npm install -g npm@3
 - npm install

os:
  - osx
  - linux

script: npm run $TEST_TYPE

